
{% extends 'base.html.twig' %}
{% block body %}
 <div>

    <div id="grid" >    
    <table >
        {%for row in grid%}
            <tr >
                {%for col in grid%}
                    <td><div class="box">1</div></td> 
                {%endfor%}    
            </tr>    
        {%endfor %}
    </table>
    </div>
</div>

{% endblock %}