
{% extends 'base.html.twig' %}
{% block body %}
    <div>

        <div id="grid" >
            <table >
                {%for row in board.getGrid()%}
                    <tr >
                        {%for col in row %}
                            <td><div class="box">{{ col }}</div></td>
                            {%endfor%}
                    </tr>
                {%endfor %}
            </table>
        </div>
    </div>

{% endblock %}