<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <ul>
            <li><a href="{{ path('register') }}">inscription</a></li>
            <li><a href="{{ path('game')}}">game</a></li>

        </ul>
    </ul>
</nav>