
{%extends "base.html.twig"%}


{% block body %}
<div>
    <div>
        
       <div id="titre">
       <img src="{{asset('bundles/app/images/dbomb1.png')}}">
       </div>
       <div id="image">
        <img src="{{asset('bundles/app/images/boomb.gif')}}" alt="" />
       </div>
       
   </div>
   <div id="button">
    
        <a href="{{path('login')}}"> login</a>
   
   
    <a href="{{path('register')}}"> inscription</a>
   
</div>
 </div>
    {%endblock%}
