



{% block body %}



   
    <img src="{{asset('bundles/app/images/boomb.gif')}}" alt="" />


    <button>
        <a href="{{ path('login')}}"> login</a>
    </button>

    <br/>
    <br/>

<button>
    <a href="{{ path('register')}}"> inscription</a>

    </button>


{% endblock %}