
<html>
  <head>
      <title>inscription</title>

      <!-- On précise l'encodage de notre fichier HTML -->
      <meta charset="UTF-8" />

      <!-- On défini quelques balises META -->
     
      
      <!-- JQuery -->
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
       
      <!-- Bootstrap CSS, theme and JS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      <!-- On lie notre fichier HTML à notre fichier CSS -->
      <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>

<div class="container">

  <form class="well form-horizontal" method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend>inscription!</legend>

<!-- Text input-->

<div class="form-group">
<label class="col-md-4 control-label">NOM</label>  
<div class="col-md-4 inputGroupContainer">
<div class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input  name="name" placeholder="votre nom" class="form-control"  type="text">
  </div>
</div>
</div>

<!-- Text input-->

<div class="form-group">
<label class="col-md-4 control-label" >PRENOM</label> 
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input name="username" placeholder="vorte prénome" class="form-control"  type="text">
  </div>
</div>
</div>

<!-- Text input-->
     <div class="form-group">
<label class="col-md-4 control-label">E-Mail</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
<input name="mail" placeholder="votre Address Mail " class="form-control"  type="text">
  </div>
</div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label">PASSWORD</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
  <input name="password" placeholder="votre mot de passe " class="form-control"  type="text">
    </div>
  </div>
  </div>
<!-- Text input-->
     
<div class="form-group">
<label class="col-md-4 control-label">TELEPHONE</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
<input name="phone" placeholder="(+33699771977)" class="form-control" type="text">
  </div>
</div>
</div>

<!-- Text input-->
    
<div class="form-group">
<label class="col-md-4 control-label">ADRESSE</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
     
<input name="adresse" placeholder="votre adresse postal Address" class="form-control" type="text">
  </div>
</div>
</div>

<!-- Text input-->

<div class="form-group">
<label class="col-md-4 control-label">VILLE</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
<input name="city" placeholder="votre ville" class="form-control"  type="text">
  </div>
</div>
</div>

<!-- Text input-->

<div class="form-group">
<label class="col-md-4 control-label">Zip Code</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
<input name="zip" placeholder="Zip Code" class="form-control"  type="text">
  </div>
 <!-- Button -->
<div class="form-group">
    <label class="col-md-4 control-label"></label>
    <div class="col-md-4">
      <button type="submit" class="btn alert-success" name="envoi"> Envoyer </button> <span class="glyphicon glyphicon-send"></span></button>
    </div>
</div>
</div>

</div>
</div>




  </body>
  </html>